.banner {
    background-color: #2f303a;
    text-align: center;
    padding: 200px 0;
    color: #fff;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mainbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
    &__title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36em;
      max-width: 696px;
      text-transform: uppercase;
      margin: 0 auto 30px;
    }
}