.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    
    &__logo {
    display: flex;
    margin-right: 93px;
    color: var(--main-font-color);
  }
  }
  
 